<!DOCTYPE html>
{% load static %}

<html>
    <head lang='en'>
        <meta charset='UTF-8' />
        <title>
        Rango -
        {% block title_block %}
            How to Tango with DJango!
        {% endblock %}
        </title>
    </head>
    <body>
                {% block nav_blcok %}                
                {% endblock %}                
        <hr />
    {% block body_block %}
    {% endblock %}
        <hr />

    </body>
<script src="{% static "js/jquery.min.js" %}"> </script>
<script src="{% static "js/rango-ajax.js" %}"> </script>
            <ul>
                <li><a href="{% url 'rango:index' %}">首頁</a></li>
                <li><a href="{% url 'rango:about' %}">About</a></li>

            </ul>
</html>


